.header{
    border-bottom: 2px solid #3b455a3f
}

.linkcontainer > ul{
    list-style-type: none;
}

.linkcontainer > ul >li {
    font-size: 16px;
}
.subcont{
    justify-content: space-between;
}
.imageconainer > .logo{
    /* width: 150px; */
}

#onelink{
    color: black;
    text-decoration: none;
}
#onelink:hover{
    color: rgba(0, 0, 255, 0.544);
}